@page "/"

@if (_toDoItems != null && _toDoItems.Any())
{
    <div class="todos">
        @foreach (var task in _toDoItems)
        {
            <ToDoItem @key="task.Id" Item="@task" ToDoItemChanged="@RefreshAsync"></ToDoItem>
        }
    </div>
}
else
{
    <p class="info">Es sind derzeit keine Aufgaben zu erledigen.</p>
}
<div class="btn-add">
    <MudButton Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" OnClick="@OpenDialog">Aufgabe hinzufügen</MudButton>
</div>