@page "/"

@if (_toDoItems != null && _toDoItems.Any())
{
    <div class="todos">
        @foreach (var task in _toDoItems)
        {
            <ToDoItem Item=@task ToDoItemChanged="RefreshAsync"></ToDoItem>
        }
    </div>
}
else
{
    <p style="padding: 0 24px;">Sie haben derzeit keine Aufgaben</p>
}

<MatButton class="btn-add" Raised="true" OnClick="@(e => { _dialogIsOpen = true; })">Aufgabe hinzufügen</MatButton>

<ToDoItemEditor DialogIsOpen="@_dialogIsOpen" DialogClosed="@(async (refresh) => { await CloseDialog(refresh); })"></ToDoItemEditor>