@page "/"

@if (_toDoItems != null && _toDoItems.Any())
{
    <div class="todos">
        @foreach (var task in _toDoItems)
        {
            <ToDoItem Class="item" @key="task.Id" Item="@task" ToDoItemChanged="@RefreshAsync"></ToDoItem>
        }
    </div>
}
else
{
    <p class="info">Es sind derzeit keine Aufgaben zu erledigen.</p>
}

<MudButton Class="btn-add" Color="Color.Primary" Variant="Variant.Filled" Raised="true" OnClick="@OpenDialog">Aufgabe hinzufügen</MudButton>